body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    color: #666;
    font-size: 11px;
}
.container {
    margin: 0 auto;
    width: 80%;
    height: 800px;
    display: grid;
    grid-template-areas:
            "header"
            "sidebar"
            "content"
            "footer";
}
.header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
    border-bottom: 1px solid #666;
}
.content {
    grid-area: content;
}
.footer {
    grid-area: footer;
    border-top: 1px solid #666;
}
@media (min-width: 640px) {
    .container {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
                "header header"
                "sidebar sidebar"
                "content content"
                "footer footer";
    }
}
.logo img {
    margin-left: 50px;
}
#fieldSearch {
    width: 215px;
    border: 1px solid #999;
}
#buttonSearch {
    border: none;
    background-color: white;
    color: #666;
    font-size: 10px;
    padding-left: 5px;

}
.sidebar {
    margin: 10px 0;
    padding-bottom: 10px;
}
.list,
.list li{
    margin: 0;
    padding: 0 10px;
    text-align: center;
}

ul.list li {
    border-right: 1px solid #666;
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
}
.list a {
    display: block;
    padding: 0 10px;
    color: #666;
    text-decoration: none;
}


.logo {
    float: left;
    padding: auto;
}
.searchBlock {
    float: right;
    padding-top: 40px;
}
#content_subitems {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}
.project_item {
    display: block;
    float: left;
    width: 205px;
    height: 260px;
    border: 2px solid antiquewhite;
    margin: 0  1em 1em 0;

    background-size: cover;
    overflow: hidden;

}
.project_item img {
    height: 80%;
}
.project_item h5 {
    font-style: italic;
    font-weight: normal;
    font-size: 100%;
    text-align: center;
    vertical-align: bottom;
    width: 100%;
}

.footer p,
.footer a {
    font-weight: normal;
    margin-bottom: 0.5em;
    text-align: center;
    text-decoration: none;
    color: #666;
}
